body {
    background: #2f2f31;
    color: #faf9f5;
    font-family: "Euclid Circular A", "Poppins";
    padding-top: 72px;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  button,
  a {
    cursor: pointer;
    transition: 0.3s;
    color: inherit;
    font-weight: 600;
  }
  
  nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 72px;
    box-shadow: 0 10px 20px rgba(189, 189, 189, 0.1);
    background: #7f7f7f;
    transition: 0.3s;
  }
  
  nav.visible {
    top: 0;
    translate: 0;
    border-radius: 10px
  }
  
  nav > h1 {
    width: 36px;
    height: 36px;
    background: #303030;
    color: #9393a2;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .nav-items > a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(255 255 255 / 96%);
    height: 72px;
    display: grid;
    place-items: center;
  }
  
  .nav-items > a:hover {
    color: rgb(255 255 255 / 96%);
  }
  
  h2 {
    font-size: 20px;
    margin: 0 0 4px;
    cursor: default;
  }
  
  section {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 100px 60px;
  }
  
  p {
    opacity: 0.6;
  }
  
  section.shaded {
    background: #000000;
  }
  
  section > img {
    width: 200px;
    height: 200px;
  }
  
  section.shaded > img {
    padding: 20px;
  }
  
  section > p {
    line-height: 1.7;
  }

  .bn59 {
    background-color: #141414;
    border: 1px solid rgba(54, 54, 54, 0.6);
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    width: 130px;
    opacity: 1;
  }
  button {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button:hover {
  color: #fff;
  border: 1px solid rgb(40, 144, 241);
}

button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}
 
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px
}

